{% extends 'dashboard/base.html' %}
{% load static %}
{% block student%}
<style>
  .django div{
    width: 100%;
    margin: 1rem;
  }
  label[for="id_student_id"] {
        display: none;
    }
    #id_assignment_id2{
      display: none;
    }
    label[for="id_assignment_id2"] {
        display: none;
    }
    .dnone{
      display: none;
    }
</style>
<div class="" style="margin-top:5%; margin-left: 15%">
  {% with my_variable="Teacher" %}
  
  {% if user.catagory|default_if_none:""|lower == my_variable|lower %}
  <h1 class="mb-3">Assignment List</h1>

    <table class="table table-success table-striped-columns table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Assignment Name</th>
          <th scope="col">curruct date</th>
          <th scope="col">Deadline</th>
          <th scope="col">file</th>
        </tr>
      </thead>
      <tbody>
        {% for i in assgnList %}
        <tr>
          <th scope="row">{{ i.id }}</th>
          <td>{{ i.subject_name }}</td>
          <td>{{ i.date }}</td>
          <td>{{ i.deadline }}</td>
          <td><a href="{{ i.assignment_file }}">{{ i.subject_name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
      

    </table>
    {% if user.catagory|lower == 'HOD'|lower or user.catagory|lower == 'Teacher'|lower%}
    <div class="text-center my-3">
      <button class="btn btn-primary " onclick="visiblediv()">Add student</button>
    </div>
    {% endif %}
  <!-- Button trigger modal -->
  <!-- Button trigger modal -->

  <div id="addStudent" class=" mt-4 dnone">
    <div class="container-fluid" style="display: flex; justify-content:center;">
      <div class="row ">
          <div class="col-sm-12">
              <div class="login-card card-block bg-white ">
                  <form class="md-float-material " action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                  
                      <div class="django d-flex justify-content-center flex-column gap-2 w-100 md-input-wrapper">
                        <div>
                          <label for="sub">Subject Name</label><br>
                          <input class="form-control" type="text" name="sub" placeholder="Enter the subject name" required>
                        </div>
                          
                         <div>
                          <label for="date">Deadline</label><br>

                          <input class="form-control" type="date" name="date" placeholder="Enter date" required>
                         </div>
                          
                          <div>
                            <label for="sub">Assignment file</label><br>

                          <input class="form-control" type="file" name="afile" placeholder="" required>  
                          </div>
                      </div>
                      <div class="col-xs-10 offset-xs-1">
                          <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light m-b-20" onclick="visiblediv()">Submit
                          </button>
                      </div>
                  
                  
                  </form>
                  <!-- end of form -->
              </div>
              <!-- end of login-card -->
          </div>
          <!-- end of col-sm-12 -->
      </div>
      <!-- end of row-->
  </div>

  {% endif %}
{% endwith %}
  </div>

<!-- ====================do assignment=============== -->
{% if user.catagory|lower != 'HOD'|lower and user.catagory|lower != 'Teacher'|lower%}
<h1 class="mb-3 text-center my-4">Student Assignment List</h1>


<table class="table table-success table-striped-columns table table-hover" style="margin-top:5%; margin-left: 15%; margin: ;">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Student Name</th>
      <th scope="col">Assignment Name</th>
      <th scope="col">Deadline</th>
      <th scope="col">Send </th>
      <th scope="col">status </th>
      <th scope="col">View Assignment</th>
    </tr>
  </thead>
  <tbody>
    {% for i in stdAssign %}
    <tr>
      <th scope="row">{{ i.id }}</th>
      <td>{{ i.assignment_id2.first_name }} {{i.assignment_id2.last_name }}</td>
      <td>{{ i.subject.subject_name }}</td>
      <td>{{ i.subject.deadline }}</td>
      <td>{{ i.sent_date }}</td>
      <td>{{ i.status }}</td>
      <td><a href="{{ i.file }}">View Assignment</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<tfoot>
  <div class="text-center my-3">
      <button class="btn btn-primary " onclick="visiblediv2()" >Do assignment</button>
    </div>
  </tfoot>
  
  <div id="addStudent2" class=" mt-4 dnone">
    <div class="container-fluid" style="display: flex; justify-content:center;">
      <div class="row ">
          <div class="col-sm-12">
              <div class="login-card card-block bg-white ">
                  <form class="md-float-material " action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                  
                      <div class="django d-flex justify-content-center flex-column gap-2 w-100 md-input-wrapper">
                        <input type="text" name="form2" hidden>
                          {{doassignment}}
                      </div>
                      <div class="col-xs-10 offset-xs-1">
                          <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light m-b-20" onclick="visiblediv()">Submit
                          </button>
                      </div>
                  
                  
                  </form>
                  <!-- end of form -->
              </div>
              <!-- end of login-card -->
          </div>
          <!-- end of col-sm-12 -->
      </div>
      <!-- end of row-->
  </div>
  <!-- stdAssign -->
</div>  
{% endif %}
<script>
  function visiblediv(){
    var div =document.getElementById('addStudent')
    div.classList.toggle("dnone")
  }
  function visiblediv2(){
    var div =document.getElementById('addStudent2')
    div.classList.toggle("dnone")
  }

</script>


<!-- Modal -->

{% endblock %}