{% load static %}
<!-- problem is that when i want to logout the user from django admin site then i user logout(response) but still user is
loged in and user those page i put login require decorator in view function but when i delete manually the localhost
from on device site data then user loged out and this logic require page are not user by user pls give me the
implementation that when i logout and within view life implement the code -->
<!-- https://preview.themeforest.net/item/edmate-learning-dashboard-html-template/full_screen_preview/53959588?_ga=2.66430189.252667488.1734246389-726548938.1732198354 -->
<div class="w-100">
    <div class="w-100 mb-n1" style="margin-bottom: -4rem;">
        <img src="{% static 'assets/imgs/nimgs/overlay-top.png' %}" class="w-100" alt="">

    </div>
    <div class="row justify-content-center p-2 w-100 bg-black text-white pt-5">
        <div class="col-3 d-flex justify-content-center align-item-center flex-column">
            <h1>Address</h1>
            <p><span><i class="fa-brands fa-telegram p-2 fs-4"></i></span>Ward no:16, College Rd, Diamond Harbour,
                West
                Bengal
                743331</p>
            <p><span><i class="fa-solid fa-envelope p-2 fs-4"></i></span>admin@fc.org</p>
            <p><span><i class="fa-solid fa-phone p-2 fs-4"></i></span>02185585454/025886765454</p>
        </div>
        <div class="col-3 d-flex justify-content-center align-item-center flex-column">
            <h1>Importent Links</h1>
            <p><span><i
                        class="fa-solid fa-check p-2 rounded-circle bg-white text-black fw-bloded me-2 "></i></span>Important
                Links</p>
            <p><span><i
                        class="fa-solid fa-check p-2 rounded-circle bg-white text-black fw-bloded me-2 "></i></span>Calcutta
                University</p>
            <p><span><i
                        class="fa-solid fa-check p-2 rounded-circle bg-white text-black fw-bloded me-2 "></i></span>University
                Grants Commission</p>
            <p><span><i class="fa-solid fa-check p-2 rounded-circle bg-white text-black fw-bloded me-2 "></i></span>NCTE
            </p>
            <p><span><i
                        class="fa-solid fa-check p-2 rounded-circle bg-white text-black fw-bloded me-2 "></i></span>Higher
                Education (WB)</p>
            <p><span><i class="fa-solid fa-check p-2 rounded-circle bg-white text-black fw-bloded me-2 "></i></span>WB
                College Service Commissio</p>
            <p><span><i
                        class="fa-solid fa-check p-2 rounded-circle bg-white text-black fw-bloded me-2 "></i></span>Total
                Visitors:-</p>
        </div>
        <div class="col-3 d-flex justify-content-center align-item-center flex-column">
            <h1 class="fs-3 text-center">Social media contect</h1>
            <div class=" d-flex justify-content-center align-item-center gap-3 mt-3">
                <i class="fa-brands fa-facebook fs-3 "></i>
                <i class="fa-brands fa-instagram fs-3 "></i>
                <i class="fa-brands fa-pinterest fs-3 "></i>
                <i class="fa-brands fa-twitter fs-3 "></i>
                <i class="fa-brands fa-linkedin fs-3 "></i>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center align-item-center my-auto">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.1451443409082!2d88.17730517506617!3d22.19658967976135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a025f91ba42d8a1%3A0xff93e1a0d4e55042!2sFakir%20Chand%20College!5e0!3m2!1sen!2sin!4v1720195878168!5m2!1sen!2sin"
                width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</div>