 <!-- ===========jquary============= -->
  {% load static %}
 <script src="{%static 'bootstrap/bootstrap-5.3.3-dist/jquary/jquery-3.7.1.min.js'%}"></script>
 <!-- <script src="bootstrap/bootstrap-5.3.3-dist/jquary/jquery-3.7.1.min.js"></script> -->
 <!-- ========bootstrap js=============== -->
 <!-- <script src="bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script> -->
 <script src="{%static 'bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.js'%}"></script>

 <!-- ============owlcarasol============== -->
 <script src="{% static 'owlcarasole/bootstrap.min.js' %}"></script>

 <script src="{% static 'owlcarasole/popper.min.js' %}"></script>
 <!-- carousel -->
 <script type="text/javascript"
     src="{% static 'owlcarasole/owl.carousel.js' %}"></script>
     <script type="text/javascript" src="{% static 'dashboardAsstes/js/main.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'dashboardAsstes/pages/dashboard.js' %}"></script>
     <script type="text/javascript" src="{% static 'dashboardAsstes/pages/elements.js' %}"></script>
     <script src="{% static 'dashboardAsstes/js/menu.min.js' %}"></script> 