
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
     {% include "bootstraplink.html" %} 

</head>
<body>
     <!-- ============header section================== -->
     {% include 'header.html'%} 
     <!-- ==============responsive menu============== -->
     {% include 'nevBar.html'%} 
     <!-- ==========testimonial=================== -->
   
     <div class="row justify-content-center w-100">
      <div class="col-4 d-flex justify-content-center align-items-start flex-column">
          <h5 class="fw-bold text-danger">Testimonial</h5>
          <h1 class="fs-1 fw-bold mb-3">What Say Our Students</h1>
          <p class="text-secondary">Dolor est dolores et nonumy sit labore dolores est sed rebum amet, justo duo ipsum sanctus dolore magna
              rebum sit et. Diam lorem ea sea at. Nonumy et at at sed justo est nonumy tempor. Vero sea ea eirmod,
              elitr ea amet diam ipsum at amet. Erat sed stet eos ipsum diam</p>
      </div>
      <div class="col-6">
          <div class="my-5 ms-5 testimonical">
            
   
   
              <div class="owl-carousel position-related container-fluid d-flex  justify-content-center align-item-center gap-3 ">
                  {% for i in testi %}
                  <div class="d-flex justify-content-start align-items-start flex-column w-100">
                      <i class="fa fa-3x fa-quote-left text-danger mb-4"></i>
                      <p class="text-secondary">{{i.say}}</p>
                      <div class="row w-100">
                          <div class="col-2"><img src="{{i.image.url}}" alt=""></div>
                          <div class="col-4">
                              <h5>{{i.Sname}} </h5>
                              <p>{{i.role}}</p>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
               
   
              </div>
   
          </div>
      </div>
   </div>
   <div class="d-flex justify-content-center align-items-center mb-4">
      <div>
          <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Add student
         </button>
         
         <!-- Modal -->
         <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
           <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-header">
                 <h1 class="modal-title fs-5" id="staticBackdropLabel">Write Student information</h1>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="bg-white w-100">
               <div class="modal-body">
                   <div class="w-100 mx-auto d-flex justify-content-center align-items-center flex-column gap-3">
                       <form action="" method="post" enctype="multipart/form-data"
                           class="w-75 mx-auto d-flex justify-content-center align-items-center flex-column gap-3">
                           {% csrf_token %}
                           {% for i in form %}
                           {{i}}
                           {% endfor %}
                       
                   </div>
                   
               </div>
               </div>
               <div class="modal-footer bg-white">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <input type="submit" class="form-control w-50 btn btn-danger" value="Submit">
   
               </div>
              </form>
              </div>
             </div>
           </div>
         </div>
   
   </div>
      <!-- ===============footer ============= -->
    {% include "footer.html" %}
    {% include 'owlcarusol.html' %}
    {% include 'owltesti.html' %}
</body>
</html>







